mixin sub-menu(records)
  ul.sub-menu-list
    each item in records
      li.sub-menu-item
        a.sub-menu-link(href=`/products/${item.slug}`) #{item.title}
        if(item.children && item.children.length > 0)
          +sub-menu(item.children)